# Unreal Engine
**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/.vs/
**/*.sln
**/*.VC.db
**/*.VC.opendb

# Visual Studio and C++
*.user
*.suo
*.obj
*.pch
*.pdb
*.ilk
*.exe

# Python
__pycache__/
*.py[cod]
.venv/

# System files
.DS_Store
Thumbs.db
desktop.ini
